{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{{ 'quick-add.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- if section.settings.quick_add == 'standard' -%}
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign columns_desktop_int = section.settings.columns_desktop | plus: 0
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
  endif

  assign max_columns_to_show = columns_mobile_int
  if columns_desktop_int > columns_mobile_int
    assign max_columns_to_show = columns_desktop_int
  endif

  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
  endif
-%}
<style>
  .flash-sale-container {
    background: rgba(254, 239, 240, 0.5);
  }
</style>
<div
  class="flash-sale-container py-14 md:py-20 px-16"
>
  <div
    class="xl:w-[1500px] mx-auto"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}"
  >
    <div class="flash-sale-title-wrapper flex items-center justify-between w-full mb-8">
      {%- if section.settings.title != blank -%}
        <h2 class="flash-sale-title text-5xl md:text-6xl font-bold text-[#2B2B2B] w-[90%] text-center">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
      <div class="text-[#B74A4D] flex items-center gap-3 font-semibold text-2xl md:text-4xl ">
        <span>10</span>: <span>10</span>:
        <span>30</span>
      </div>
    </div>

    <ul
      id="Slider-{{ section.id }}"
      data-id="{{ section.id }}"
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10"
      role="list"
      aria-label="{{ 'general.slider.name' | t }}"
    >
      <li class="h-full">{% render 'create-own-product' %}</li>
      {% assign skip_card_product_styles = false %}

      {%- if section.settings.collection.products.size > 0 -%}
        {% assign lazy_load = false %}
        {% paginate section.settings.collection.products by section.settings.products_to_show %}
          {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
            {% if lazy_load == false and forloop.index > max_columns_to_show %}
              {% assign lazy_load = true %}
            {% endif %}
            <li
              id="Slide-{{ product.id }}"
              class=""
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                lazy_load: lazy_load,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                skip_styles: skip_card_product_styles,
                section_id: section.id,
                quick_add: section.settings.quick_add
              %}
            </li>
            {%- assign skip_card_product_styles = true -%}
          {%- endfor -%}
        {% endpaginate %}
      {%- endif -%}
    </ul>

    {%- if more_in_collection -%}
      <div class="center collection__view-all scroll-trigger animate--slide-in">
        <a
          href="{{ section.settings.collection.url }}"
          class="button button--text button--view-all bg-white"
        >
          View More
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Flash Sale",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.flash-sale.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.flash-sale.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.flash-sale.settings.header_text.content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Flash Sale",
      "label": "t:sections.flash-sale.settings.title.label"
    }
  ],
  "presets": [
    {
      "name": "Flash Sale"
    }
  ]
}
{% endschema %}
