{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
   .section-{{ section.id }}-padding {
     padding-top: {{ 10 | times: 0.75 | round: 0 }}px;
     padding-bottom: {{ 40 | times: 0.75 | round: 0 }}px;
   }

  .video-carousel-slide {
   opacity: 0.5;
   transition: opacity 0.3s ease;
  }

  .video-carousel-slide.is-active {
  	opacity: 1;
  }

  .video-carousel-slide .deferred-media__poster-button {
  	opacity: 0.3;
  	transition: opacity 0.3s ease;
  }

  .video-carousel-slide.is-active .deferred-media__poster-button {
  	opacity: 1;
  }


   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: 10px;
       padding-bottom: 40px;
     }
     .swiper-slide-active.video-carousel-slide{
   background: #FEEFF080;
   border: 1.64px solid  #FCCED0;
   border-radius: 16px;
   padding:16px;
   }
   }

   .video-slider-media, .video-slider-media button{
   border-radius: 16px !important;
   }
   .video-carousel-navigation {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   gap: 20px;
   }
   .video-carousel-button-next,
   .video-carousel-button-prev {
   border:1px solid #F46267;
   width:43px;
   height: 43px;
   border-radius: 100px;
   padding:12px 16px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background 0.3s ease;
   }
   .video-carousel-button-next:hover,
   .video-carousel-button-prev:hover {
   background:#F46267;
   }

   .video-carousel-button-next svg path,
   .video-carousel-button-prev svg path {
   fill: #F46267;
   }
   .video-carousel-button-next:hover svg path,
   .video-carousel-button-prev:hover svg path {
   fill: #ffffff;
   }
{%- endstyle -%}

{%- liquid
  assign original_video_id = section.settings.video.id
-%}

<section class="video-carousel-section overflow-hidden px-10 md:px-0">
  <div class="video-section isolate section-{{ section.id }}-padding">
    <div>
      {%- unless section.settings.heading == blank -%}
        <div class="title-wrapper title-wrapper--no-top-margin{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          <h3 class="text-center text-5xl md:text-6xl font-bold text-[#2B2B2B]">{{ section.settings.heading }}</h3>
        </div>
      {%- endunless -%}
    </div>
    <div class="swiper w-full mx-auto">
      <div class="swiper-wrapper">
        {% for i in (1..4) %}
          {%- liquid
            assign video_id = 'video_' | append: i
            assign video = section.settings[video_id]
            assign video_alt = video.alt
            assign alt = 'sections.video.load_video' | t: description: video_alt | escape
            assign poster = video.preview_image
          -%}
          <div class="swiper-slide video-carousel-slide">
            <deferred-media
              class="video-slider-media video-section__media deferred-media gradient global-media-settings media-fit-cover {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              data-media-id="{{ original_video_id }}"
              {% if poster != null %}
                style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              <button
                id="Deferred-Poster-Modal-{{ original_video_id }}"
                class="video-section__poster media deferred-media__poster media--landscape"
                type="button"
                aria-label="{{ alt }}"
              >
                {%- if poster != null -%}
                  {{
                    poster
                    | image_url: width: 3840
                    | image_tag: sizes: 100, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
                  }}
                {%- else -%}
                  {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
                <span class="deferred-media__poster-button motion-reduce">
                  <span class="svg-wrapper">
                    {{- 'icon-play.svg' | inline_asset_content -}}
                  </span>
                </span>
              </button>
              <template>
                {%- if video != null -%}
                  {{ video | video_tag: image_size: '800x', autoplay: true, loop: false, controls: true, muted: false }}
                {%- endif -%}
              </template>
            </deferred-media>
          </div>
        {% endfor %}
      </div>
      <!-- Navigation -->
      <div class="video-carousel-navigation ">
        <div class="video-carousel-button-prev">
          <span>
            {{- 'chevron-left.svg' | inline_asset_content -}}
          </span>
        </div>
        <div class="video-carousel-button-next">
          <span>
            {{- 'chevron-right.svg' | inline_asset_content -}}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.swiper', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      loop: true,
      spaceBetween: 0,
      slidesPerView: 1,
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 150,
        modifier: 1.5,
        slideShadows: false,
      },
      navigation: {
        nextEl: '.video-carousel-button-next',
        prevEl: '.video-carousel-button-prev',
      },
      breakpoints: {
        480: { slidesPerView: 1, spaceBetween: 0 },
        768: { slidesPerView: 1.5, spaceBetween: 80 },
        1024: { slidesPerView: 2, spaceBetween: 100 },
        1040: { slidesPerView: 2, spaceBetween: 200 },
        5560: { slidesPerView: 2, spaceBetween: 400 },
      },
      on: {
        init: function () {
          setActiveSlideClass();
        },
        slideChange: function () {
          setActiveSlideClass();
        },
        transitionEnd: function () {
          setActiveSlideClass();
        },
      },
    });

    function setActiveSlideClass() {
      const allSlides = document.querySelectorAll('.video-carousel-slide');
      allSlides.forEach((slide) => slide.classList.remove('is-active'));

      const active = document.querySelector('.swiper-slide-active.video-carousel-slide');
      if (active) {
        active.classList.add('is-active');
      }
    }
  });
</script>

{% schema %}
{
  "name": "Video Carousel",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Here from our Happy Customers",
      "label": "Carousel Heading"
    },

    {
      "type": "header",
      "content": "Select Videos"
    },
    {
      "type": "video",
      "id": "video_1",
      "label": "Video 1"
    },
    {
      "type": "video",
      "id": "video_2",
      "label": "Video 2"
    },
    {
      "type": "video",
      "id": "video_3",
      "label": "Video 3"
    },
    {
      "type": "video",
      "id": "video_4",
      "label": "Video 4"
    }
  ],
  "presets": [
    {
      "name": "Video Carousel"
    }
  ]
}
{% endschema %}
